body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header {
	background-color: red;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 1px;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container img {
	height: 60px;
	margin: 10px;
}

nav div{
	margin: 0;
	padding: 0;
	background: #FFF6C3;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


nav a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	padding: 20px;
	background-color: #FFDB89;

}

nav a:hover {
	color: #ccc;
}