body {
  font-family: sans-serif;
  height: 100%;
}
.logo-container {
  display: flex;
  align-items: center;
}
#item {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin: 0px 15px 5px 0px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffdb89;
}
#item:hover {
  background-color: #dc3545;
  color: white;
}
#sidebar {
  width: 20%;
  height: 500px;
  margin-left: 0px;
  background-color: #ffdb89;
  position: absolute;
  margin-top: 0px;
  transition: 0.5s;
  overflow-y: auto;
}
.kolom {
  padding: 10px;
  background-color: white;
  border-color: 2px green;
  border: 2px solid black;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 10px;
}
.kolom2 {
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  margin: 10px 4px 0px 4px;
}
.kolom ol li {
  margin-right: 2px;
}
.kolom2 ol li {
  margin-right: 2px;
}
#content {
  width: 79.3%;
  height: auto;
  margin-left: 20%;
  padding: 2px;
  background: rgb(192, 192, 192);
  position: absolute;
  z-index: -1;
  transition: 0.5s;
  border: 2px solid black;
  text-align: justify;
}
#sidebar a {
  color: black;
}
#nav {
  top: 100px;
  position: fixed;
  width: 100%;
}
